pom.xml
*jar
/lib/
/classes/
/out/
/dist/
/target/
.lein*
/node_modules
.serverless
/shadow/
cp
.dir-locals.el
*.log
.nrepl-port
/.lumo[-_]cache/
*.env
.nrepl-history
.projectile
/.cpcache
/config/env.yml
/config/aws.yml
package-lock.json
