{:paths ["src"]
 :deps {org.clojure/test.check {:mvn/version "0.10.0-alpha2" :exclusions [org.clojure/clojure]}
        expound {:git/url "https://github.com/bhb/expound"
                 :sha "59740c46c5a33cfa1257e563ec37b652eae692fd"
                 :exclutions [org.clojure/clojure org.clojure/clojurescript org.clojure/spec.alpha]}}
 :aliases {:cljs-jvm
           {:extra-deps
            {org.clojure/clojure {:mvn/version "1.10.0-alpha4"}
             org.clojure/clojurescript {:mvn/version "1.10.238"}}}}}
